mat-card {
    width: 40%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button{
    margin-top: 15px;
}
